@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NaomiFont2";
  src: url("NaomiFont2.woff");
  src: url("./assets/fonts/NaomiFont2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NaomiFont2", sans-serif;
}
